auto-install-peers=false
strict-peer-dependencies=false
shamefully-hoist=true
supportedArchitectures[os][]=linux
supportedArchitectures[os][]=win32
supportedArchitectures[os][]=darwin
supportedArchitectures[cpu][]=x64
supportedArchitectures[cpu][]=arm64